{% extends 'filtar/base.html' %}

{% block body %}

miRNA: <b><a href="http://www.mirbase.org/textsearch.shtml?q={{ mirna }}&submit=submit" target="_blank">{{ mirna }}</a></b><br/>
Cell line/Tissue: <b>{{ sample }}</b><br/>
BioSamples Used: <b>{{ num_replicates }}</b> -

    {% for replicate in replicates %}
        <b> <a href="http://www.ebi.ac.uk/ena/data/view/{{ replicate }}"
                 target="_blank">{{ replicate }}</a></b>
    {% endfor %}
<br></br>
<table class="my-listing", id="myTable", data-page-length='25'>
    <thead>
        <tr>
            <th>Transcript ID</th>
            <th>Gene Name</th>
            <th>3'UTR Start</th>
            <th>3'UTR End</th>
            <th>Normalised Score</th>
            <th>TPM</th>
            <th>Algorithm</th>
        </tr>
    </thead>

    <tbody>
    {% for row in rows %}

        <tr>
            <td>{{ row.0.mrna_id }}</td>
            <td><a href="http://www.ensembl.org/{{ species }}/Gene/Summary?t={{ row.0.Gene_ID }}" target="_blank">{{ row.0.Gene_ID }}</a></td>
            <td>{{ row.0.UTR_START }}</td>
            <td>{{ row.0.UTR_END }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.0.TPM }}</td>
            <td>{{ row.0.name }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}
