{% extends 'filtar/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'FilTar/tooltips.css' %}"/>

{% block content %}


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<style>
.errorlist
    {
        color: red;
    }
</style>
<style>
    .center {
    width:200px;
    margin:0 auto;
    text-align:left;
}
</style>

<script type="text/javascript">
window.onload = function()
{
    if (window.jQuery)
    {
        alert('jQuery is loaded');
    }
    else
    {
        alert('jQuery is not loaded');
    }
}
</script>

<div class="center">
	<form action="" method="post">
		{% csrf_token %}

		{{ form_auto.as_p }}

        {{ form_TPM }} <button type="button" href="#" data-toggle="popover" title="TPM" data-content="TPM or 'Transcripts Per Million' is a unit of relative transcript abundance. For a given sequencing pipeline, it represents the number of transcripts of a given type quantified per million total transcripts.")">?</button> <br> <br>

        <!--<div class="container">-->
        <!--</div>-->
        {{ form_algorithm }}

		<input type="submit" />
	</form>
</div>

{% endblock %}

{% block footer %}
<!--<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>-->
<!--<script type="text/css" src="{% static 'FilTar/tooltips.css' %}"/></script>-->


{{ form_auto.media }}
{% endblock %}


<!--<style>-->
<!--.tooltip {-->
    <!--position: relative;-->
    <!--display: inline-block;-->
    <!--border-bottom: 1px dotted black;-->
<!--}-->

<!--.tooltip .tooltiptext {-->
    <!--visibility: hidden;-->
    <!--width: 120px;-->
    <!--background-color: #555;-->
    <!--color: #fff;-->
    <!--text-align: center;-->
    <!--border-radius: 6px;-->
    <!--padding: 5px 0;-->
    <!--position: absolute;-->
    <!--z-index: 1;-->
    <!--bottom: 125%;-->
    <!--left: 50%;-->
    <!--margin-left: -60px;-->
    <!--opacity: 0;-->
    <!--transition: opacity 1s;-->
<!--}-->

<!--.tooltip .tooltiptext::after {-->
    <!--content: "";-->
    <!--position: absolute;-->
    <!--top: 100%;-->
    <!--left: 50%;-->
    <!--margin-left: -5px;-->
    <!--border-width: 5px;-->
    <!--border-style: solid;-->
    <!--border-color: #555 transparent transparent transparent;-->
<!--}-->

<!--.tooltip:hover .tooltiptext {-->
    <!--visibility: visible;-->
    <!--opacity: 1;-->
<!--}-->
<!--</style>-->

<!--<div class="tooltip">Hover over me-->
  <!--<span class="tooltiptext">Tooltip text</span>-->
<!--</div>-->
