{% extends 'filtar/base.html' %}

{% block body %}

    miRNA: <b><a href="http://www.mirbase.org/textsearch.shtml?q={{ mirna }}&submit=submit" target="_blank">{{ mirna }}</a></b> <br/>
    Gene: <b><a href="http://www.ensembl.org/{{ species }}/Gene/Summary?t={{ rows.0.mrna_id }}"
                 target="_blank">{{ gene }}</a></b> <br/>
    Algorithm: <b>{{ algorithm }}</b><br/>
    Cell line/Tissue: <b>{{ sample }}</b><br/>
    BioSamples Used: <b>{{ num_replicates }}</b> -

    {% for replicate in replicates %}
        <b> <a href="http://www.ebi.ac.uk/ena/data/view/{{ replicate }}"
                 target="_blank">{{ replicate }}</a></b>
    {% endfor %}

    <br></br>

    {% block table_info %}
    {% endblock %}

{% endblock %}
