{% extends 'filtar/base.html' %}

{% block body %}

    miRNA: <b><a href="http://www.mirbase.org/cgi-bin/query.pl?terms={{ mirna }}&submit=Search" target="_blank">{{ mirna }}</a></b> <br/>
    Algorithm: <b>{{ rows.0.name }}</b><br/>
    Cell line/Tissue: <b>{{ sample }}</b><br/>
    BioSamples used: <b>{{ num_replicates }}</b> -

    {% for replicate in replicates %}
        <b> <a href="http://www.ebi.ac.uk/ena/data/view/{{ replicate }}"
                 target="_blank">{{ replicate }}</a></b>
    {% endfor %}

    <br></br>

    {% block table_info %}
    {% endblock %}

{% endblock %}
