{% extends 'filtardb/base.html' %}
{% block content %}
<h2>Project Ideation & Development</h2>

<p>Simon Moxon came up with the original idea and project proposal for FilTarDB. The FilTarDB concept was further developed jointly between SM and Thomas Bradley through the course of TB's PhD at the Earlham Institute and the University of East Anglia. The FilTarDB software itself was developed by TB. We would like to thank Daniel Mapleson for providing helpful comments to TB during the development of the FilTarDB tool.</p>

<h2>Funding</h2>
<p>This project was supported by a 4-year PhD studentship awarded to Thomas Bradley as part of the BBSRC Norwich Research Park Biosciences Doctoral Training Partnership (NRP DTP).<p>

<h2>Infrastructure & Support</h2>
<p>CyVerse UK infrastructure, managed by the Earlham Institute (Norwich, UK) is used to host the FilTarDB application. Support for hosting the application has been provided by the <a href="http://www.earlham.ac.uk/davey-group" target="_blank">Data structure and algorithms group</a> at EI; we would like to thank Rob Davey for providing general support and support management, Anthony Etuk for initial consulation, and in particular, we would like to thank Alice Minotto for providing extensive support in regards to use and management of CyVerse UK resources. We would also like to thank the NBI Computing infrastructure for Science (CiS) group and Earlham Insitute Scientific Computing Group for providing high-performance computing and data storage resources, and support provided for the use of these resources. We would also like to thank the NBI (Norwich Biosciences Institute) computing group for support and assistance in use of NBI information services and resources.</p>

{% endblock %}
