{% extends 'FilTar/base.html' %}

{% block body %}

<table class="my-listing">
    <tr>
        <th></th>
        <th>miRNA</th>
        <th>Transcript_ID</th>
        <th>Tax_ID</th>
        <th>UTR_Start</th>
        <th>UTR_End</th>
        <th>Site_Type</th>
        <th>Contextpp_score</th>
    </tr>
    {% for item in scores %}
    <tr>
        <td>{{ item.contextpp.id }}</td>
        <td>{{ item.mirna_name }}</td>
        <td>{{ item.transcript_id }}</td>
        <td>{{ item.taxonomic_id }}</td>
        <td>{{ item.utr_start }}</td>
        <td>{{ item.utr_end }}</td>
         <td>{{ item.site_type }}</td>
        <td>{{ item.contextpp_score }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

