{% extends 'FilTar/base.html' %}

{% block body %}

<!--<table class="my-listing">-->
    <!--<tr>-->
        <!--<th></th>-->

        <!--<th>TPM</th>-->
    <!--</tr>-->
    <!--{% for items in expression %}-->
    <!--<tr>-->
        <!--<td>{{ items.tpm }}</td>-->
    <!--</tr>-->
    <!--{% endfor %}-->
<!--</table>-->


<table class="my-listing">
    <tr>
        <th></th>
        <th>miRNA</th>
        <th>Transcript_ID</th>
        <th>Common_Name</th>
        <th>UTR_Start</th>
        <th>UTR_End</th>
        <th>Site_Type</th>
        <th>Contextpp_score</th>
        <th>TPM</th>
    </tr>
    {% for item in scores %}
    <tr>
        <td>{{ item.contextpp.id }}</td>
        <td>{{ item.mirna_name }}</td>
        <td>{{ item.transcript_id }}</td>
        <td>{{ item.common_name }}</td>
        <td>{{ item.utr_start }}</td>
        <td>{{ item.utr_end }}</td>
         <td>{{ item.site_type }}</td>
        <td>{{ item.contextpp_score }}</td>
        <td>{{ item.tpm }}</td>
    </tr>
    {% endfor %}
</table>
<p></p>



{% endblock %}

