{% extends 'FilTar/base.html' %}


<script type="text/javascript">
	$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
	);
</script>

{% block body %}

miRNA: <b>{{ mirna }}</b>


<table class="tablesorter-blue", id="myTable">
    <thead>
        <tr>
            <th>Transcript_ID</th>
            <th>Gene Name</th>
            <th>UTR_Start</th>
            <th>UTR_End</th>
            <th>Site_Type</th>
            <th>TargetScan7</th>
            <th>TPM</th>
        </tr>
    </thead>

    <!--{mirna_id,mrna_id,utr_start,utr_end,site_type,contextpp_score,tpm in x %}-->

    <tbody>
    {% for row in rows %}

        <tr>
            <td><a href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?t={{ row.mrna_id }}">{{ row.mrna_id }}</a></td>
            <td>{{ row.Gene_Name }}</td>
            <td>{{ row.UTR_START }}</td>
            <td>{{ row.UTR_END }}</td>
            <td>{{ row.Site_Type }}</td>
            <td>{{ row.contextpp_score }}</td>
            <td>{{ row.TPM }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

<!--<p></p>-->

<form method='GET'>
    <input type='hidden' name='format' value='csv'>
    <input type='hidden' name='rows' value={{mirna}}>
    <input type='submit' value="Download Table">
</form>


{% if rows.has_other_pages %}
  <ul class="pagination">
    {% if rows.has_previous %}
      <li><a href="?page={{ rows.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in rows.paginator.page_range %}
      {% if rows.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if rows.has_next %}
      <li><a href="?page={{ rows.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}




{% endblock %}

