{% extends 'FilTar/base.html' %}

{% block body %}
miRNA: <b>{{ mirna }}</b> <br/>
Gene: <b>{{ gene }}</b> <br/>
Transcript ID: <b> <a href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?t={{ row.mrna_id }}" target="_blank">{{ rows.0.mrna_id}}</a> </b> <br/>
TPM: <b>{{ rows.0.TPM }}</b>

<br></br>

<table class="my-listing", id="myTable", data-page-length='25'>
    <thead>
        <tr>
            <th>UTR_Start</th>
            <th>UTR_End</th>
            <th>Site_Type</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
    {% for row in rows %}

        <tr>
            <td>{{ row.UTR_START }}</td>
            <td>{{ row.UTR_END }}</td>
            <td>{{ row.Site_Type }}</td>
            <td>{{ row.score }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}