{% extends 'FilTar/table_mirna_gene_meta.html' %}

{% block table_info %}

<table class="my-listing", id="myTable", data-page-length='25'>
    <thead>
        <tr>
            <th>UTR_Start</th>
            <th>UTR_End</th>
            <th>Site_Type</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
    {% for row in rows %}

        <tr>
            <td>{{ row.UTR_START }}</td>
            <td>{{ row.UTR_END }}</td>
            <td>{{ row.Site_Type }}</td>
            <td>{{ row.score }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}