{% extends 'FilTar/base.html' %}
{% load static %}

{% block content %}

<div>
	<form action="" method="post">
		{% csrf_token %}

		{{ form_auto.as_p }}


        <!--{{ form_TPM }} <br>-->
        <!--{{ form_location.media.js }}-->
        <!--{{ form_location.as_p }}-->
        <!--{{ form_genes }} <br>-->
        <!--{{ form_algorithm }}-->

		<input type="submit" />
	</form>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form_auto.media }}
{% endblock %}