{% extends 'FilTar/base.html' %}

{% block body %}
		<ul>
			<!--Get all species-->
			{% for species in object_list %}
			<!--Create a HTML link to details template-->
			<li><a href="{% url 'filtar:detail' species.id %}">{{ species.common_name }}</a></li>
			{% endfor %}
		</ul>
{% endblock %}

				<!--<select name="mirnas">-->
					<!--<option value="mir-1">mir1</option>-->
					<!--<option value="mir-2">mir2</option>-->
					<!--<option value="mir-3">mir3</option>-->
					<!--<option value="mir-4">mir4</option>-->
				<!--</select>-->
				<!--<br><br>-->