{% extends 'FilTar/base.html' %}

{% block body %}


<table class="my-listing">
    <tr>
        <th>miRNA</th>
        <th>Transcript_ID</th>
        <th>UTR_Start</th>
        <th>UTR_End</th>
        <th>miRanda_Score</th>
        <th>TPM</th>
    </tr>

    {% for Mirnas,Mrnas,miranda_score,tpm, utr_start, utr_end in x %}

    <tr>
        <td>{{ Mirnas }}</td>
        <td>{{ Mrnas }}</td>
        <td>{{ utr_start }}</td>
        <td>{{ utr_end }}</td>
        <td>{{ miranda_score }}</td>
        <td>{{ tpm }}</td>
    </tr>
    {% endfor %}

</table>
<p></p>

{% endblock %}
