{% extends 'FilTar/table_gene_meta.html' %}

{% block body %}

<table class="my-listing">
    <tr>
        <th>miRNA</th>
        <th>Transcript_ID</th>
        <th>UTR_Start</th>
        <th>UTR_End</th>
        <th>PITA_Score</th>
        <th>TPM</th>
    </tr>

    {% for Mirnas,Mrnas,start,end,PITA_score,tpm in x %}

    <tr>
        <td>{{ Mirnas }}</td>
        <td>{{ Mrnas }}</td>
        <td>{{ start }}</td>
        <td>{{ end }}</td>
        <td>{{ PITA_score }}</td>
        <td>{{ tpm }}</td>
    </tr>
    {% endfor %}

</table>
<p></p>

{% endblock %}
