{% extends 'FilTar/base.html' %}

{% block body %}

    Gene: <b> <a href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?t={{ rows.0.0.mrna_id }}"
                 target="_blank">{{ gene }}</a></b> <br/>
    Algorithm: <b>{{ rows.0.0.name }}</b><br/>
    Cell line/Tissue: <b>{{ sample }}</b><br/>
    RNA-Seq replicates: <b>{{ num_replicates }}</b> -

    {% for replicate in replicates %}
        <b> <a href="http://www.ebi.ac.uk/ena/data/view/{{ replicate }}"
                 target="_blank">{{ replicate }}</a></b>
    {% endfor %}

    <br></br>

    {% block table_info %}
    {% endblock %}

{% endblock %}
